
<h1>Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

<div class="row">

<div class="col-md-12">
<%= link_to 'Back', author_recipes_path(@author), class: "btn btn-primary" %>
</div>
</div>
