<h1>Editing Recipe</h1>

<%= render 'form', recipe: @recipe %>

<%= link_to 'Show', [@author, @recipe] %> |
<%= link_to 'Add Ingredients', new_recipe_ingredient_path(@recipe) %>
<%= link_to 'Back', author_recipes_path(@author) %>
