
  <div class="row text-center">
    <div class="col-12">
      <h1>Authors and Recipes</h1>
      <h4 id="notice"><%= notice %></h4>
    </div>  
  </div>
  
  <div class="row justify-content-center">
      <div class="col-md-12" id="new-author">
        <%= link_to 'New Author',  new_author_path, class:"btns", remote: true %>
      </div>
  </div>
  
  <div id="author"> <!--this is the entire author content on the page-->  
  
    <% @authors.each do |author| %>
      <div class="row authorlist"> <!--this is the row of the entire author info-->
        <%= render partial:'author', locals: { author: author } %>
      </div><!--this is the row of the entire author info-->  
      <% end %>
  
  </div> <!--this is the entire author content on the page-->  


  