<div class="row-cols-1">
  <div class="text-center">
  <h1>Editing Ingredient</h1>
  </div>
</div>
<%= render 'form', ingredient: @ingredient %>

<div class="row-cols-2">
  <div class="edit-ctrls">
    <%= link_to 'Back', recipe_ingredients_path %>
  </div>
</div>