@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
        background: lightgrey;
        color: black;
        font-family: 'Merriweather', sans-serif;   
.container{
        justify-content: center;
}
        

}
.author-box{
        border: 5px solid black;
        padding:15px;
}

.buttons{
        margin: 0 auto;
}

.btn{
        background-color: red;
        border: 5px solid black;
        margin: 10px 3px;
}
.author-box a {
        color: black;

}

.recipe-display {
        padding: 10px;
        text-align: center;
        font-size: 12px;
}