@import "~bootstrap/scss/bootstrap";


body {
        background: lightgrey;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        


.container{
        justify-content: center;
}
.row{
        justify-content: center;
}        

}
.author-box{
        border: 5px solid black;
        padding:15px;
}

.buttons{
        margin: 0 auto;
}

.btn{
        background-color: red;
        border: 5px solid black;
        margin: 10px 3px;
}
.author-box a {
        color: black;

}

.recipe-scroll {
        height: 136px;
       
}
.list-group-item{
       
        display: flex;
        justify-content: space-between;


}