/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 	#96bed8 	Primary
 	#4f627e 	Info
	#62b479 	Success
 	#e0a341 	Warning
 	#f44336 	Danger

 *= require_tree .
 *= require_self
 */

.btn-main{
        color: white;
        background-color : #96bed8; 
}

 body {
         background: lightgrey;
         color: black;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         
 }

 #author{
         border: 3px solid black;
 }

#new-author{
        margin-bottom: 10px;

}

 .author-box{
         border: 2px solid black;
         padding:15px;
         background-color:#96bed8 ;
         margin-bottom: 10px;
 }      
 
 .buttons{
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         margin: ;
         padding: 5px;
 }

 .btn :visited{
         color:red !important;
 }
 
 
 .author-box a {
         color: black;
 
 }
 
 .recipe-scroll {
         height: 136px;
        
 }
 .list-group-item{
        
         display: flex;
         justify-content: space-between;
 }         
 
/* button row of the editing page */
 .edit-ctrls{
         padding: 10px 5px;
         justify-content: flex-end;

}
.author-card{
        background-color: #96bed8;
        padding:10px;
        line-height: 1.25;
        text-align: center;
        border: 1px solid;


}



/* recipes page */
 .recipe{
         display: block;
         border: 1px solid;
         padding: 15px 20px;
        background-color: #96bed8 ;
 
} 

.recipe-card {
        text-decoration: none;
        text-align: center;
        margin : auto;
        align-content: center;
}

.recipes-list{   
        margin-top: 20px;
        border: 3px solid;   
}

.recipe-btn{
        margin:5px;
        
}

.recipe-show{
        background-color: #96bed8;
        border: 10px solid #4f627e;
        padding:20px;
}
